{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon Panier</h1>
    <div class="table-vide" style="display : none;"></div>
    <table id="table" class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.product.price }} €</td>
                        <td>{{ product.quantite }}</td>
                        <td>
                            <form action="{{ path('panier.delete',{id: product.product.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                                <button  class="btn btn-danger">Supprimer</button>
                            </form>      
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
              <tr>
                <td></td>
                <td></td>
                <td>Total : {{total}}€</td>
              </tr>
            </tfoot>
          </table>
      </div>
      <div class="col-md-4 offset-md-2">
        {{ form_start(commandForm) }}

        {{ form_row(commandForm.email) }}

        <button type="submit" class="btn btn-primary btn-block">
            Valider le Panier
        </button>
        <div style="display : none">
          {{ form_row(commandForm.createdAt)}}
          {{ form_row(commandForm.products)}}
        </div>
        


        
    {{ form_end(commandForm) }}
      </div>
</div>

<script>
    const table = document.querySelector("#table");
    const body = document.querySelector("tbody").childElementCount;
    const vide = document.querySelector(".table-vide");
    if(body <= 0){
        vide.style.display="block";
        table.style.display="none";
        vide.textContent = `Il n'y a aucun produit dans le panier.`;
    }

</script>

{% endblock %}
