<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Price</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
            {% for product in paginator %}
            <tr>
                <td><a href="{{ path('product.show', {id : product.id} ) }}">{{ product.name }}</a></td>
                <td>{{ product.createdAt|date("d/m/Y") }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.description|slice(1, 300) }}  <a href="{{ path('product.show', {id : product.id} ) }}">... voir plus</a></td>
            </tr>
            {% endfor %}
    </tbody>
  </table>
  <div class="row">
    <div class="paginator col-6">
    </div>
  </div>
  
  <style>
    .table{
      width:90%;
      margin:auto;
    }
    .paginator{
      margin : auto;
    }
  </style>