{% extends 'base.html.twig' %}

{% block body %}


<div class="alert alert-success" style="display : none;"></div>
    

<h1 data-id="{{product.id}}" data-name="{{product.name}}">{{ product.name}} </h1>

<p>{{ product.description }}</p>
<p>{{ product.createdAt|date("d/m/Y") }} </p>
<p>{{ product.price }} €</p>

<input type="button" name="add" value="Ajouter au panier" id="addPanier">

<a href="/product">Retour à la liste</a>

    {% block javascripts %}
    <script>
        const id = document.querySelector("h1").getAttribute("data-id");
        const name = document.querySelector("h1").getAttribute("data-name");
        const panier = document.querySelector("#addPanier");
        const url = `/panier/add/${id}`;
        const alert = document.querySelector('.alert');
        panier.addEventListener("click", () => {
            panier.disabled = true;
            fetch(url)
                .then(res => res.json())
                .then(res => {
                    alert.style.display = 'block';
                    alert.textContent = `Le produit ${name} a bien été ajouté au panier.`;
                })
        });
    </script>
    {% endblock %}

{% endblock %}